<!DOCTYPE html>
<html>
<body>
  <div align="center">
  <img src="http://res.cloudinary.com/ds0wwrj3f/image/upload/v1496532548/logo_tecuji.png">

<h1> Stories to play</h1>

<div class="flex-container">
  <div class="flex-item">flex item 1</div>
  <div class="flex-item">flex item 2</div>
  <div class="flex-item">flex item 3</div>
</div>


<p>My very first paragraph.</p>
</div>
</body>
</html>
