//variables
$background-black: #000000;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$green: #F03861;

$IndieFlower: 'Indie Flower', cursive;


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



// page container
.container {
  width: 100%;
  height: 100%;
}

// tutorial start
.tutorial {
  width: 100%;
  margin: 0% auto 0 auto;
  box-shadow: 0 4px 12px rgba(black, 0.1);
  background-color: $subtle-white;
  max-width: 2000px;

.slider {
  width: 100%;
  height: 300px;
  background-color: $green;
}

.information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: $IndieFlower;

  h1 {
    color: $masked-grey;
    font-size: 1.5rem;
    padding: 0px 10px;
    border-left: 3px solid $green;
  }

  h3 {
    color: darken($subtle-grey, 7%);
    font-size: 1rem;
    font-weight: 300;
    padding: 0px 10px;
    border-left: 3px solid $green;
  }

  p {
    padding: 10px 0px;
  }
}

  ul {
    font-size: 0;
    list-style-type: none;

    // initial li
    li {
      font-family: $IndieFlower;
      font-size: 2rem;
      font-weight: 800;
      color: $masked-grey;

      display: inline-block;
      padding: 35px;
      position: relative;

       // secondary ul
        ul {
          display: none;
        }

      // initial li:hover
      &:hover {
        cursor: pointer;
        background-color: $subtle-grey;

        // secondary ul visibility change
        ul {
          display: block;
          margin-top: 15px;

          width: 200px;
          left: 0;

          position: absolute;

          // secondary li
          li {
            display: block;
            background-color: darken($subtle-white, 7%);
            span {
              float: right;
              color: $subtle-white;
              background-color: $green;
              padding: 2px 5px;
              text-align: center;
              font-size: .8rem;
              border-radius: 3px;
            }

            &:hover {
              background-color: darken($subtle-white, 10%);
              span {
                background-color: darken($green, 5%);
              }
            }
          }
        }
      }
    }
  }
}

#parent {
  display: flex;
}
#narrow {
  width: 5000px;

  /* Just so it's visible */
}
#wide {
  flex: 9;
  /* Grow to rest of container */

  /* Just so it's visible */
}
